<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="connection.username">user1</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.password">techm123</property>
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="com.jlcindia.hibernate8.Request"/>
		<mapping class="com.jlcindia.hibernate8.Customer"/>
	</session-factory>
</hibernate-configuration>
